<!DOCTYPE html>
<html >
<head>
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
<style>
body {
  margin-top: 50px;
  background: url(/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  display: inline !important;
  font-family: 'Playfair Display', serif;

}

p {
  font-size: 18px;
  font-family: 'Playfair Display', serif;

}

.bold {
  font-weight: bold;
}

.header {
  font-size: 45px;
}

#return {
  margin-top: 25px;
}

#bodyWell {
background-color:  rgba(236, 240, 241, 0.5);
  margin: 100px -75px 0px 200px;
  padding: 25px;
  border: 0px;
}

.topMargin {
  margin-top: 150px;
}
</style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>

<body>
  <div class="container">
    <div class="well" id="bodyWell">
      <div class="row">
        <div class="col-sm-12" id="editContent">
          <p class="text-center header"> Edit Meetings </p>

          <div class="row" id="meetingHeader">
            <div class="col-sm-3" id="meetingDate"><p class="bold">Date:</p>
            </div>
            <div class="col-sm-3" id="meetingTitle"><p class="bold">Meeting Title:</p>
            </div>
            <div class="col-sm-2" id="meetingStart"><p class="bold text-right">Start Time:</p>
            </div>
            <div class="col-sm-2" id="meetingtEnd"><p class="bold text-right">End Time:</p>
            </div>
            <div class="col-sm-2" id="meetingEdit">
            </div>
          </div>

          <div class="row" id="eventList">
            {{#each data}}
            <div class="col-sm-3">
              <p class="editDate" id="date{{_id}}">{{Date}}</p>
            </div>
            <div class="col-sm-3">
              {{#if longTitle}}
              <p class="editTitle" id="title{{_id}}" fullTitle="{{longTitle}}">
                {{Title}}</p>
                {{else}}
                <p class="editTitle" id="title{{_id}}" fullTitle="{{Title}}">
                  {{Title}}</p>
                  {{/if}}
                </div>
                <div class="col-sm-2">
                  <p class="editdStart text-right" id="startTime{{_id}}">{{[Start Time]}}</p>
                </div>
                <div class="col-sm-2">
                  <p class="editEnd text-right" id="endTime{{_id}}">{{[End Time]}}</p>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-secondary editEvent" id="edit{{_id}}"><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-secondary deleteEvent" id="delete{{_id}}"><i class="fa fa-trash"></i></button>
                </div>
                {{/each}}
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-4">
                  <a href="/confSelect" role="button" class="btn btn-primary" id="return">Conference Room Selection</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.alphanum/1.0.24/jquery.alphanum.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js'></script>
<script>

function numOnly(){
   $(".numOnly").alphanum({
     allow              : ':',
     disallow           : 'xyz',
     allowSpace         : false,
     allowNumeric       : true,
     allowUpper         : false,
     allowLower         : false,
     allowCaseless      : true,
     allowLatin         : true,
     allowOtherCharSets : true,
     forceUpper         : false,
     forceLower         : false,
     maxLength          : NaN
   });
 }
 numOnly();
$(document).on('click', '.deleteEvent', function(e) {
	$.ajax({
		type: 'DELETE',
		url: '/deleteEvent/{{url}}/' + e.target.id.replace('delete', ''),
		success: function(data) {
			$('#eventList').empty();
			data.forEach(function(e) {
        let longTitle = e.longTitle ? e.longTitle : e.Title;
				$('#eventList').append(
					'<div class="col-sm-3">\
                  <p class="editDate" id="date' +
						e._id +
						'">' +
						e.Date +
						'</p>\
                </div>\
                <div class="col-sm-3">\
                  <p class="editTitle" id="title' +
						e._id +
						'" fullTitle="'+longTitle+'">' +
						e.Title +
						'</p>\
                </div>\
                <div class="col-sm-2">\
                  <p class="editdStart text-right" id="startTime' +
						e._id +
						'">' +
						e['Start Time'] +
						'</p>\
                </div>\
                <div class="col-sm-2">\
                  <p class="editEnd text-right" id="endTime' +
						e._id +
						'">' +
						e['End Time'] +
						'</p>\
                </div>\
                <div class="col-sm-2">\
                  <button type="button" class="btn btn-secondary editEvent" id="edit' +
						e._id +
						'"><i class="fa fa-pencil"></i></button>\
                  <button type="button" class="btn btn-secondary deleteEvent" id="delete' +
						e._id +
						'"><i class="fa fa-trash"></i></button>\
                </div>'
				);
			});
		}
	});
});

$(document).on('click', '.editEvent', function(e) {
  $('#return').addClass('hidden');
	let id = e.target.id.replace('edit', ''),
		dateText = moment($('#date' + id).text()).format('YYYY-MM-DD'),
		//titleText = $('#title' + id).text(),
		titleText = $('#title' + id).attr('fullTitle'),
		startTimeText = $('#startTime' + id)
			.text()
			.split(' '),
		endTimeText = $('#endTime' + id)
			.text()
			.split(' ');

	$('#eventList').empty();
	$('#eventList').append(
		'<form class="form-horizontal"><div class="form-group">\
    <label for="meetingDate" class="col-sm-2 control-label">Meeting Date</label>\
    <div class="col-sm-6">\
      <input class="form-control meetingDate" id="meetingDate" name="meetingDate" value="' +
			dateText +
			'" required/>\
    </div>\
  </div>\
  <div class="form-group">\
    <label for="meetingTitle" class="col-sm-2 control-label">Meeting Title</label>\
    <div class="col-sm-6">\
      <input class="form-control" id="meetingTitle" name="meetingTitle" value="' +
			titleText +
			'" required/>\
    </div>\
  </div>\
  <div class="form-group">\
    <label for="startTime" class="col-sm-2 control-label">Start Time</label>\
    <div class="col-sm-6">\
      <input class="form-control numOnly" id="startTime" name="startTime" minlength="4" maxlength="5" value="' +
			startTimeText[0] +
			'" required/>\
    </div>\
    <div class="col-sm-2">\
      <select class="form-control" name="startTimePeriod" id="startTimePeriod" required>\
      <option value=""> </option>\
      <option value="AM">AM</option>\
      <option value="PM">PM</option>\
    </select>\
  </div>\
</div>\
<div class="form-group">\
  <label for="endTime" class="col-sm-2 control-label">End Time </label>\
  <div class="col-sm-6">\
    <input class="form-control numOnly" id="endTime" name="endTime" minlength="4" maxlength="5" value="' +
			endTimeText[0] +
			'" required/>\
  </div>\
  <div class="col-sm-2">\
    <select class="form-control" name="endTimePeriod" id="endTimePeriod" required>\
    <option value=""> </option>\
    <option value="AM">AM</option>\
    <option value="PM">PM</option>\
  </select>\
</div>\
</div>\
<div class="form-group formControls">\
  <div class="col-sm-2 col-sm-offset-5">\
    <button type="submit" class="btn btn-primary" id="submit">Update</button>\
  </div>\
</div>\
</form>'
	);

	$('#startTimePeriod').val(startTimeText[1]);
	$('#endTimePeriod').val(endTimeText[1]);
	$('#meetingHeader').empty();
	numOnly();
	$('.meetingDate').datepicker();

	$('#submit').click(function(e) {
		e.preventDefault();

		let formData = {
			meetingTitle: $('#meetingTitle').val(),
			startTime: $('#startTime').val(),
			startTimePeriod: $('#startTimePeriod').val(),
			endTime: $('#endTime').val(),
			endTimePeriod: $('#endTimePeriod').val(),
			meetingDate: $('#meetingDate').val()
		};

		if (formData.startTime.length == 5) {
			if (formData.startTime[0] == 0 || formData.startTime[1] > 2) {
				alert(
					'Invalid input. Please input in 12 hour time (i.e 12:30 or 3:00)'
				);
				return;
			}
		}
		if (formData.startTime[1] != ':' && formData.startTime[2] != ':') {
			alert('Invalid input. Please include a colon (:) within your time.');
			return;
		}
		if (formData.endTime.length == 5) {
			if (formData.endTime[0] == 0 || formData.endTime[1] > 2) {
				alert(
					'Invalid input. Please input in 12 hour time (i.e 12:30 or 3:00)'
				);
				return;
			}
		}
		if (formData.endTime[1] != ':' && formData.endTime[2] != ':') {
			alert('Invalid input. Please include a colon (:) within your time.');
			return;
		}

		$.ajax({
			method: 'PUT',
			url: '/updateEvent/{{url}}/' + id,
			data: formData,
			success: function(data) {
        $('#return').removeClass('hidden');
				$('#eventList').empty();
				$('#meetingHeader').append(
					'<div class="col-sm-3" id="meetingDate"><p class="bold">Date:</p>\
                </div>\
                <div class="col-sm-3" id="meetingTitle"><p class="bold">Meeting Title:</p>\
                </div>\
                <div class="col-sm-2" id="meetingStart"><p class="bold text-right">Start Time:</p>\
                </div>\
                <div class="col-sm-2" id="meetingtEnd"><p class="bold text-right">End Time:</p>\
                </div>\
                <div class="col-sm-2" id="meetingEdit">\
                </div>'
				);
				data.forEach(function(e) {
					let longTitle = e.longTitle ? e.longTitle : e.Title;

					$('#eventList').append(
						'<div class="col-sm-3">\
                            <p class="editDate" id="date' +
							e._id +
							'">' +
							e.Date +
							'</p>\
                          </div>\
                          <div class="col-sm-3">\
                            <p class="editTitle" id="title' +
							e._id +
							'" fullTitle="' +
							longTitle +
							'">' +
							e.Title +
							'</p>\
                          </div>\
                          <div class="col-sm-2">\
                            <p class="editdStart text-right" id="startTime' +
							e._id +
							'">' +
							e['Start Time'] +
							'</p>\
                          </div>\
                          <div class="col-sm-2">\
                            <p class="editEnd text-right" id="endTime' +
							e._id +
							'">' +
							e['End Time'] +
							'</p>\
                          </div>\
                          <div class="col-sm-2">\
                            <button type="button" class="btn btn-secondary editEvent" id="edit' +
							e._id +
							'"><i class="fa fa-pencil"></i></button>\
                            <button type="button" class="btn btn-secondary deleteEvent" id="delete' +
							e._id +
							'"><i class="fa fa-trash"></i></button>\
                          </div>'
					);
				});
			}
		});
	});
});


</script>
</body>
</html>
